a code {
  text-decoration: underline;
  color: #1095C1 !important;   
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mkdown-image {
  border-radius: var(--border-radius);
  max-height: 80vh;
  background-color: red;
  width: min-content;
  object-fit: contain;
}